@import "variables.styl"

.list {
  margin: sz-2x

  .element {
    fill: c-desire
    color: c-desire
    display: flex
    align-items: center
  }

  .text {
    display: inline-block
    margin-left: sz-1x
    font-size: sz-f-regular
  }
}
