@import "variables.styl"

.button {
  display: flex
  align-items: center
  justify-content: center

  font-weight: 600

  transition: time-2x opacity, time-1x background-color


  &[disabled] {
    opacity: 0.7
  }

  &.__primary {
    background-color: c-main
    color: c-white

    &:hover {
      background-color: c-dark-main
    }
  }

  &.__rounded {
    border-radius: sz-1x
    padding: 7px
    width: fit-content
  }
}