@import "variables.styl"

dotSize = 7px
imageSize = 230px

.card {
  display: flex
  flex-direction: column
  width: fit-content
  padding: sz-2x
  margin: sz-1x
  border-radius: sz-2x
  transition: time-1x transform,
              time-1x box-shadow ease-out

  .imagesContainer {
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: imageSize
    height: imageSize
    border-radius: sz-3x
    overflow: hidden

    .currentImage {
      min-width: 100%
      min-height: 100%
    }

  }

  .article {
    opacity: .6
    padding: sz-1x
    margin: sz-2x
    border-radius: sz-1x
    background-color: c-main
    color: c-white
    position: absolute
    bottom: 0
    right: 0
    transition: time-2x opacity
  }

  .gallery {
    align-self: center
    margin: sz-1x
    line-height: 0

    .dot {
      display: inline-block
      width: dotSize
      height: dotSize
      margin-left: sz-1x
      background-color: c-gray
      border-radius: 50%

      &:first-child {
        margin-left: 0
      }

      &.__active {
        background-color: c-dark-gray
      }
    }
  }

  .title {
    margin-top: sz-1x
    word-break: break-word
    font-weight: 400
    font-size: 16px
    max-width: imageSize
  }

  .price {
    margin-top: sz-2x
    font-size: sz-4x
    font-weight: 700
  }

  .star {
    fill: c-main
  }

  .rating {
    display: flex
    align-items: center
    line-height: 0
    margin-top: sz-1x

    .measure {
      font-weight: 400
      font-size: 16px
      margin: sz-1x
      display: inline-block
    }
  }

  .addButton {
    display: inline-block
    font-size: 16px
    margin-top: sz-2x
  }

  &:hover {
    transform: scale(1.025)
    box-shadow: 0 0 10px c-gray

    .article {
      opacity: .8
    }
  }
}