@import "variables.styl" 

.productCard {
    background-color: c-white
    padding: sz-4x
    display: flex
    flex-direction: column
    align-items: flex-start
    box-shadow: 0px sz-1x sz-1x c-gray

    .imageContainer {
        position: relative
        background-color: c-white
        margin-bottom: sz-1x
        border: 4px solid c-gray
        display: flex
        justify-content center
        align-items: center
        overflow: hidden
        min-height: 250px

        .article {
            position: absolute
            top: 0
            left: 0
            z-index: 9999
            background-color: c-gray
            padding: sz-1x sz-1x 9px 1px
            display: flex
            align-items: center
            justify-content: center

            .articleText {
                font-size: sz-2x
                font-weight: 700
                color: c-black
            }
        }

        .image {
            transition: time-1x transform
        }
    }

    .title {
        font-size: sz-3x
        font-weight: 700
        line-height: normal
        color: c-black
        text-align: center
        margin-bottom: sz-1x
    }

    .priceContainer {
        display: flex
        align-items: center
        margin-bottom: sz-1x

        .price {
            font-size: sz-5x
            font-weight: 700
            color: c-black
            margin-right: sz-2x
        }

        .currency {
            font-size: sz-4x
            color: c-black
        }
    }

    &:hover {
        .image {
            transform: scale(1.05)
        }
    }
}
