.serviceItem {
  font-weight: 600

  &:not(:last-child) {
    margin-bottom: 40px
  }

  .title {
    margin-bottom: 24px
  }

  .description {
    margin-bottom: 16px
    font-size: 20px
  }

  .content {
    margin-left: 64px
  }

  .subclause {
    margin-bottom: 8px
    list-style-type: disc
  }
}