// Colors
c-main = #FF5605
c-dark-main = #de4c06
c-dark-gray = #4b4b4b
c-gray = #D9D9D9
c-light-gray = #EDEDED
c-white = #FFF
c-black = #000
c-desire = #EA3B52

// Sizes
sz-1x = 5px
sz-2x = sz-1x * 2
sz-3x = sz-1x * 3
sz-4x = sz-1x * 4
sz-5x = sz-1x * 5
sz-6x = sz-1x * 6
// Fonts
sz-f-medium = 18px
sz-f-regular = 16px
sz-f-small = 14px

// Time
time-1x = 0.15s
time-2x = time-1x * 2
