.about {
  display: flex
  justify-content space-between
  padding: 36px

  .description {
    width: 60%

    h2 {
      font-size: 40px
      margin-bottom: 24px
    }

    p {
      font-weight: 600
      font-size: 22px
    }
  }
}