.partners {
  padding: 32px

  .title {
    font-size: 32px
    margin-bottom: 24px
  }

  .partnersContainer {
    margin-left: 16px
  }

  .partnerItem {
    list-style-type: disc
    font-weight: 600

    &:not(:last-child) {
      margin-bottom: 16px
    }
  }
}