@import "variables.styl"

.footer {
  background-color: c-light-gray
  border-top: 6px solid c-main

  .outer {
    display: flex
    flex-direction column
    padding: 32px 0

    & :not(:last-child) {
      margin-bottom: 32px
    }

    .title {
      color: c-main
      font-size: 28px
    }

    .container {
      display: flex

      .info {
        display: flex
        margin-right: 100px
        flex-direction column
        max-width: 250px

        &:last-child {
          margin-right: 0
        }

        & :not(:last-child) {
          margin-bottom: 12px
        }

        .heading {
          font-size: 24px
        }

        .text {
          word-wrap: anywhere
          word-break keep-all
          font-size: 15px
        }

        .link {
          color: c-black
          text-decoration: underline
        }
      }
    }
  }
}